html, body {
    display: block;
    height: 100%;
    overflow: hidden;
}

canvas {
    border: 1px solid #000;
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
